@using System.Linq
@using EcommMVC.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Cart</h2>


@if (Model == null){


    <p>You Don't Have Any Items In Your Cart. Please Add Items To Continue</p>


}
else
{

    var subTotal = 0.00;

    var orders = new List<OrderDetails>();

    foreach (var item in Model)
    {
        subTotal = subTotal + item.ItemPrice;

        orders.Add(new OrderDetails()
        {
            ProductId = item.ItemId,
            UserId = item.UserId,
            ItemQuantity = item.ItemQuantity,
            ItemName = item.ItemName,
            TotalPrice = item.ItemPrice * item.ItemQuantity,
            OrderStatus = "Order Placed",
            DeliverStatus = false,
        });
    }

    TempData["orderList"] = orders;


    <table class="table table-bordered table-hover">
        <thread>
            <tr>
                <th>Cart Items</th>
                <th>Item Quantity</th>
                <th>Price</th>
                <td>Action</td>
            </tr>
        </thread>
        <tbody>
        @foreach (var cart in Model)
        {
            var ItemPrice = @cart.ItemPrice * @cart.ItemQuantity;

            <tr>
                <td>@Html.ActionLink((string)cart.ItemName, "Details", "ProductDetails", new { cartId = cart.ItemId })</td>
                <td>
                    <select id="itemQuantity" Name="@cart.ItemQuantity">
                        <option value="1" onselect="location.href('@Url.Action("ChangeItemQuantity", "Cart", new { @cartId = cart.CartId, @itemQuantity = 1 })')" >1</option>
                        <option value="1" onselect="location.href('@Url.Action("ChangeItemQuantity", "Cart", new { @cartId = cart.CartId, @itemQuantity = 2 })')" >2</option>
                        <option value="1" onselect="location.href('@Url.Action("ChangeItemQuantity", "Cart", new { @cartId = cart.CartId, @itemQuantity = 3 })')" >3</option>
                        <option value="1" onselect="location.href('@Url.Action("ChangeItemQuantity", "Cart", new { @cartId = cart.CartId, @itemQuantity = 4 })')" >4</option>
                        <option value="1" onselect="location.href('@Url.Action("ChangeItemQuantity", "Cart", new { @cartId = cart.CartId, @itemQuantity = 5 })')" >5</option>

                    </select>
                </td>
                <td>@ItemPrice</td>
                <td>

                    <form action="@Url.Action("RemoveFromCart", "Cart", new {cartId = cart.CartId})" method="POST">
                        @Html.AntiForgeryToken()
                        <input class="btn btn-danger" type="submit" value="Remove Item From Cart" />
                    </form>

                </td>
                
                



            </tr>

        }
        <tr>
            <td></td>
            <td></td>
            <td>
                <h4>Subtotal: @subTotal ₹</h4>
            </td>


            <td>

                <input class="btn btn-warning" value="Place Order" type="button" onclick="location.href='@Url.Action("GenerateInvoice", "Invoice" )'"/>

            </td>
        </tr>
        </tbody>
    </table>

}


