@model EcommMVC.Models.ProductDetails
@{
    ViewBag.Title = "Model.ProductName";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.ProductName</h1>
<h3>@Model.ProductId</h3>
<h3>@Model.ProductCategory</h3>
<h3>@Model.ProductQuantity</h3>
<h3>@Model.VendorId</h3>
<h2>@Model.ProductPrice</h2>


