@model EcommMVC.Models.ProductDetails
@{
    ViewBag.Title = "Model.ProductName";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>       @Model.ProductName</h1>
<h2>------------------------------------------</h2>
<h3>Product ID:                 @Model.ProductId</h3>
<h3>Category:           @Model.ProductCategory</h3>
<h3>Available Quantity: @Model.ProductQuantity</h3>
<h3>Vendor Id:          @Model.VendorId</h3>
<h2>Price:              @Model.ProductPrice ₹ </h2>


