@using EcommMVC.Models;
@using Microsoft.AspNet.Identity;
@model EcommMVC.Models.Order
@{
    ViewBag.Title = "PlaceOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Main layout-->
<main class="mt-5 pt-4">
    <div class="container wow fadeIn">

        <!-- Heading -->
        <h2 class="my-5 h2 text-center">Checkout form</h2>

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-8 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card content-->
                    @using (Html.BeginForm("PlaceOrder", "Order", FormMethod.Post, new { role = "form" }))
                    {

                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-6 mb-2">

                                <!--firstName-->
                                <div class="md-form ">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.FirstName, "First Name")
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-md-6 mb-2">

                                <!--lastName-->
                                <div class="md-form">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.LastName, "Last Name")
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                            <!--Grid column-->

                        </div>

                        <!--Grid row-->
                        <!--email-->
                        <div class="md-form mb-5">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, "Email")
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <!--address-->
                        <div class="md-form mb-5">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Address1, "Address")
                                @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Address1, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <!--address-2-->
                        <div class="md-form mb-5">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Address2, "Address 2")
                                @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Address2, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4">

                                <div class="form-group">
                                    @Html.LabelFor(m => m.ZipCode, "ZipCode")
                                    @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ZipCode, "", new { @class = "text-danger" })
                                </div>

                                <div>
                                    @Html.HiddenFor(m => m.OrderId, new {@Value = (string)Session["OrderId"]})
                                </div>

                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <hr>

                        <div class="col-md-10 mb-2">
                            <div class="form-group">
                                @Html.LabelFor(m => m.SaveInfo, "Save this information for next time", new { @style = "float-left" })
                                @Html.CheckBoxFor(m => m.SaveInfo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.SaveInfo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <hr>


                        <hr class="mb-4">
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
                        </div>
                    }

                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-4 mb-4">

                @{
                    var SubtTotal = 0.0;
                    var orderList = (IEnumerable<Cart>)Session["cartList"];
                    var WalletBalance = (double)Session["WalletBalance"];
                }

                <!-- Heading -->
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your cart</span>
                    <span class="badge badge-secondary badge-pill">@orderList.Count()</span>
                </h4>

                <!-- Cart -->
                <ul class="list-group mb-3 z-depth-1">

                    @foreach (var item in orderList)
                    {


                        var TotalItemPrice = item.ItemPrice * item.ItemQuantity;
                        SubtTotal = SubtTotal + TotalItemPrice;

                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">@item.ItemName</h6>
                                <small class="text-muted">Qty: @item.ItemQuantity</small>
                            </div>
                            <span class="text-muted">@TotalItemPrice ₹</span>
                        </li>

                    }

                    @{
                        var Total = SubtTotal + 100;
                        Session["totalPayable"] = Total;
                    }


                    <li class="list-group-item d-flex justify-content-between lh-condensed border-dark">
                        <div>
                            <h6 class="my-0">Sub Total: </h6>
                            <small class="text-muted">Shipping: </small>
                        </div>
                        <div>
                            <h6 class="my-0">@SubtTotal ₹</h6>
                            <small class="text-muted">100 ₹</small>
                        </div>

                    </li>


                    <li class="list-group-item d-flex justify-content-between lh-condensed border-dark">
                        <div>
                            <h6 class="my-0"><strong>Total Payable: </strong></h6>
                        </div>
                        <span class="my-0"><strong>@Total ₹</strong></span>
                    </li>

                </ul>

                <!-- Promo code -->
                <form class="card p-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-secondary btn-md waves-effect m-0" type="button">Redeem</button>
                        </div>
                    </div>
                </form>
                <!-- Promo code -->

                <ul class="list-group mb-3 z-depth-1">

                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0" style="color: green">Wallet Balance: </h6>
                            @if ((WalletBalance - Total) < 0.0)
                            {
                                <div>
                                    <small class="my-0" style="color: red"><i class="fa fa-info-circle"></i>Insufficient Wallet Balance</small>
                                </div>
                            }
                        </div>
                        <span class="my-0" style="color: green">@WalletBalance ₹</span>
                    </li>

                </ul>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
</main>
<!--Main layout-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="~/Content/Ecomm-Temp/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/Content/Ecomm-Temp/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/Content/Ecomm-Temp/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/Content/Ecomm-Temp/js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>


}